.optionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.optionWrapper > span {
  cursor: pointer;
}
.leftOption,
.rightOption {
  width: 45%;
  text-align: center;
  height: 5.2rem;
  border-radius: 2rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #000000;
  box-shadow: 3px 3px 10px 0px #0e57d642;
}
